<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            animation: fadeIn 2s ease-in-out;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <form action="">
            {% with msg = get_flashed_messages() %}
            {% if msg %}
            {% for m in msg %}
            <div class="alert alert-success"> {{m}} </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <h1 class="animated fadeIn">Hi, Welcome! {{username}}</h1>
        </form>
        <form action="">
            <input type="submit" value="About Us">
        </form>
        <br><br>
        <form action="{{url_for('profile')}}">
            <input type="submit" value="View My Profile">
        </form>
    </div>

    <!-- Include Bootstrap JS and Popper.js (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>